.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
margin-right: 20px;
font-size: 22px;
color: rgba(0, 0, 0, 0.6);
}



.settings__setting-column:last-child{
    opacity: 0.8;
    font-size: 16px;
  
}

.setting-list2{
    margin-top: 40px;
    
}
.set__sets{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set__sets i{
    margin-right: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);  
}

.set__sets-column:last-child{
    opacity: 0.8;
    font-size: 16px;
}



@keyframes FontChange {
    from{
        transition: none;
    }
    to{
        font-weight: 700;
    }
}
.settings__setting:first-child:hover{
    animation: FontChange 0.1s ease-in-out forwards;
}

.settings__setting:nth-child(2):hover{
    animation: FontChange 0.1s ease-in-out forwards;
}

.settings__setting:last-child:hover{
    animation: FontChange 0.1s ease-in-out forwards;
}

